.zcache
*.txt
diunwebhook.txt
dockerswarmtoken.txt
apptest/*
*/.env
*/.zcache
resume/env.*
*/config
*/db
*/db1
*/env
*/storage
*/modules
*/data
*/data-standalone
*/debianhome
*/config.ts
*/data
*/dataes
*/key.txt
*/login.txt
*/builds
*/cache
*/gitlab
*/neededimg
*/runner
*/volums
*/database
imgurapiupload.txt
*/docker
*/htdocs
*/htdocs1.9
*/library
linkace/backups
*/nginx.key
*/nginx.pem
*/rd
*/ssl
*/themes
*/thumb
*/tmp
*/*.txt
*/*.sh
*/influxdb
*/tautulli
*/transcode
*/flood
*/qBittorrent
*/alertmanager
*/cadvisor
*/grafana
*/node-exporter
*/prometheus
*/telegraf
*/files
*/www
*/diun
*/home
*/ot
*/pfconfig
*/files
*/keys.js
*/plex.js
*/config.ini
duckdns/
diun/
*/esdata
*/backup
shepherd/docker-compose.yml
apptest/heimdall
pigallery2d
pigallery2p
jellyfin/transcodes
shinobi
watchtower/*
spotify-dashboard/*
minio/data*
