version: "3.8"
services:
  web:
    image: 192.168.0.2:5050/dedyms/nextcloud-smb:23.0.2
    environment:
      - TZ=Asia/Jakarta
      - NEXTCLOUD_UPDATE=1
      - ALLOW_SELF_SIGNED=true
      - NEXTCLOUD_URL=https://web:443
    volumes:
      - htdocs:/var/www/html
      - nfs-cl-pictures:/Pictures
      - nfs-cl-instasave:/InstaSave
      - nfs-config:/var/www/html/config
      - nfs-data:/var/www/html/data
      - nfs-themes:/var/www/html/themes
      - ./ssl/nextcloud.crt:/etc/ssl/certs/ssl-cert-snakeoil.pem
      - ./ssl/nextcloud.key:/etc/ssl/private/ssl-cert-snakeoil.key
    #configs:
    #  - source: user.ini
    #    target: /var/www/html/.user.ini
    #ports:
    #  - 8081:80
      #- 8080:443
    restart: unless-stopped
    networks:
      - nextcloud
    #  - swag
    deploy:
      placement:
        constraints: [ node.hostname == homelab ]
  es:
    image: elasticsearch:7.17.0
    environment:
      - discovery.type=single-node
      - TZ=Asia/Jakarta
      - bootstrap.memory_lock=true
      - "ES_JAVA_OPTS=-Xms512m -Xmx512m"
      - xpack.security.enabled=true
    user: 1000:1000
    ulimits:
      memlock:
        soft: -1
        hard: -1
    networks: 
      - nextcloud
    #ports:
    #  - "1200:9200"
    #  - "1300:9300"
    volumes:
      #- nfs-sensei-data:/usr/share/elasticsearch/data
      - ./esdata:/usr/share/elasticsearch/data
      - ./esdata/plugins:/usr/share/elasticsearch/plugins
    deploy:
      placement:
        constraints: [ node.hostname == homelab ]

  db:
    image: 192.168.0.2:5050/dedyms/mariadb:10.6
    environment:
      #- MARIADB_AUTO_UPGRADE=1
      - MARIADB_ROOT_PASSWORD=mariadbnc
      - TZ=Asia/Jakarta
      - MARIADB_DATABASE=nextcloud
      - MARIADB_USER=nextcloud
      - MARIADB_PASSWORD=nextcloud
    volumes:
      - ./db:/var/lib/mysql
    restart: unless-stopped
    networks:
      - nextcloud
    deploy:
      placement:
        constraints: [ node.role == manager ]
  #drawio:
  #  image: jgraph/drawio:alpine
  #  environment:
  #    - TZ=Asia/Jakarta
  #  ports:
  #    - 8082:8080
  #  restart: unless-stopped
  #  networks:
  #    - nextcloud
  #  deploy:
  #    placement:
  #      constraints: [node.hostname == homelab ]
  rd:
    image: redis:alpine
    environment:
      - TZ=Asia/Jakarta
    volumes:
      - rd:/data
    restart: unless-stopped
    networks:
      - nextcloud
    deploy:
      placement:
        constraints: [node.hostname == homelab ]
#  collabora:
#    image: collabora/code
#    networks:
#      - nextcloud
#    environment:
#      - extra_params=--o:tls.enable=false
#      - extra_params=--o:ssl.enable=false
#      - username=admin
#      - password=adminadmin
#    deploy:
#      placement:
#        constraints: [node.hostname == homelab]
#    ports:
#      - 8081:9980
  nginx:
    #image: 192.168.0.2:5050/dedyms/apache:fcgid
    image: 192.168.0.2:5050/dedyms/nginx:mainline
    ports:
      - 8080:443
    configs:
      - source: nginx.conf
        target: /etc/nginx/conf.d/default.conf
    #volumes:
    #  - ./nginx.conf:/etc/nginx/conf.d/default.conf
    networks:
      - nextcloud
    deploy:
      placement:
        constraints: [ node.hostname == homelab ]
  varnish:
    image: varnish:fresh
    environment:
      - TZ=Asia/Jakarta
      - VARNISH_SIZE=2G
    #volumes:
    #  - ./varnish.vcl:/etc/varnish/default.vcl:ro
    configs:
      - source: varnish.vcl
        target: /etc/varnish/default.vcl
    tmpfs: /var/lib/varnish:exec
    #ports:
    #  - 4080:80
    networks:
      - nextcloud
    deploy:
      placement:
        constraints: [ node.hostname == homelab ]

volumes:
  htdocs:
  rd:
  db:
  ds_logs:
  ds_data:
  nfs-cl-pictures:
    driver_opts:
      type: "nfs4"
      o: "addr=192.168.0.2,rw,noatime,timeo=14,nolock"
      device: ":/media/Clouds/Pictures/dedyms"
  nfs-cl-instasave:
    driver_opts:  
      type: "nfs4"
      o: "addr=192.168.0.2,rw,noatime,timeo=14,nolock"
      device: ":/media/Clouds/InstaSave"
  nfs-config:
    driver_opts:
      type: "nfs4"
      o: "addr=192.168.0.2,rw,noatime,timeo=14,nolock"
      device: ":/home/dedyms/docker/nextcloud/config"
  nfs-data:
    driver_opts:
      type: "nfs4"
      o: "addr=192.168.0.2,rw,noatime,timeo=14,nolock"
      device: ":/home/dedyms/docker/nextcloud/data"
  nfs-themes:
    driver_opts:
      type: "nfs4"
      o: "addr=192.168.0.2,rw,noatime,timeo=14,nolock"
      device: ":/home/dedyms/docker/nextcloud/themes"

networks:
  nextcloud:
    name: nextcloud
    driver: overlay

configs:
  varnish.vcl:
    file: varnish.vcl
  nginx.conf:
    file: nginx.conf
